<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <nav>
        <h1 id="Logo">GreenBin Connect</h1>
        <div class="icons">
            <a href="../login.html"><h1><i class="fa fa-user"></i></h1></a>
            <a href="../index.html"><h1><i class="fa fa-home"></i></h1></a>
        </div>  
    </nav>
    




    <div class="cont">
        <div class="card">
            <div role="progressbar" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100" style="--value: 69"></div>
            <p>Your Bin Level</p>
        </div>
        <div class="card">
            <div role="progressbar" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100" style="--value: 69"></div>
            <p>Your Bin Level</p>
        </div>
    </div>
    <script src="indes.js"></script>
</body>
</html>