<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You</title>
    <Style>
        .cont {
            width: 100%;
            display: flex;
            padding: 10px;
            justify-content: center;
            column-gap: 25px;
            row-gap: 25px;
            flex-wrap: wrap;
        }

        .card {
            padding: 20px;
            border: 1px solid black;
            border-radius: 20px;
            text-align: center;
        }
    </Style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <div class="cont">
        <div class="card">
            <i class="fa fa-check-circle" style="font-size:100px;color:green"></i> 
            <h4>Thank you!</h4>
            <h3>You are Successfully Registered.</h3>
        </div>
    </div>

</body>

</html>